SESSION_SECRET=replace-with-long-random-secret
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=nuxt-app
KEYCLOAK_CLIENT_SECRET=replace-with-keycloak-client-secret
